<script type="module" src="/js/cookieconsent-config.js"></script>
<!-- Google tag (gtag.js) -->
<script
    type="text/plain"
    data-category="analytics"
    data-service="analytics_storage"
    async src="https://www.googletagmanager.com/gtag/js?id=G-X613WTG1BV">
</script>
<script
    type="text/plain"
    data-category="analytics"
    data-service="analytics_storage">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X613WTG1BV');
</script>